body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container_auth{
  width: 300px;
  margin: 0px auto;
  padding: 30px;
  input{
    width: 100%;
    height: 35px;
    margin: 10px 0px;
  }
  button{
    width: 100%;
    height: 50px;
    font-size: 30px;
  }

}